@import "global/variables";
@import "global/media-queries";

body{
    color: $black-gray;
}

#home{
    background-image: url('/assets/images/hero-bg-2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: auto;
    .hero-text{
        padding-top: 30%;
        padding-bottom: 20%;
        color: $white;
        text-align: center;
        h1 {
            font-size: 100px;
            text-align: center;
            letter-spacing: 30px;
            span {
                margin-left: -25px;
                letter-spacing: normal;
                font-size: 50px;
                font-weight: 100;
            }
        }
        
    }
}