@import "global/variables";

body{
    color: $black-gray;
}

#home{
    background-image: url('/assets/images/hero-bg-2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 80vh;
}